{% extends 'base.html' %}
{% block title %}
    View Books
{% endblock title %}
{% block customstyle %}
<style>
    table{
        padding:2rem;
        margin-top:2rem;
    }

    .title-h4{
        margin: 2rem 0;
    }
</style>
{% endblock customstyle %}
{% block body %}
<h4 class="title-h4">List of all book at the library</h4>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ISBN</th>
        <th scope="col">Quantity in Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for book in books_data %}
      <tr>
        <th scope="row">{{book.title}}</th>
        <td>{{book.author}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.av_count}}</td>
        {% if book.av_count is 0 %}
        <td><button class="btn btn-outline-danger disable">Wait till restocking <i class="bi bi-hourglass-split"></i></button></td>
        {% else %}
        <td><button class="btn btn-outline-success" onclick="window.location.replace('/guest/reserve/?id={{book.isbn}}');">Reserve <i class="bi bi-arrow-right-circle-fill"></i></button></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
    document.getElementById("books").classList.add("active")
    </script>    
{% endblock body %}